---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/127.0.0.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Wed, 02 Dec 2015 07:06:58 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9798'
      X-Ratelimit-Reset:
      - '1509'
    body:
      encoding: UTF-8
      string: |
        {"ip":"127.0.0.1","country_code":"","country_name":"","region_code":"","region_name":"","city":"","zip_code":"","time_zone":"","latitude":0,"longitude":0,"metro_code":0}
  recorded_at: Thu, 10 Dec 2015 19:59:28 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/2f53df5218555aa5/conditions/q/02124.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.060'
      Last-Modified:
      - Thu, 10 Dec 2015 19:59:29 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Dorchester, MA\",\n\t\t\"city\":\"Dorchester\",\n\t\t\"state\":\"MA\",\n\t\t\"state_name\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"02124\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"42.28601837\",\n\t\t\"longitude\":\"-71.07113647\",\n\t\t\"elevation\":\"26.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Milton Hill, Milton, Massachusetts\",\n\t\t\"city\":\"Milton
        Hill, Milton\",\n\t\t\"state\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"42.263294\",\n\t\t\"longitude\":\"-71.058578\",\n\t\t\"elevation\":\"113
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KMAMILTO9\",\n\t\t\"observation_time\":\"Last
        Updated on December 10, 2:54 PM EST\",\n\t\t\"observation_time_rfc822\":\"Thu,
        10 Dec 2015 14:54:18 -0500\",\n\t\t\"observation_epoch\":\"1449777258\",\n\t\t\"local_time_rfc822\":\"Thu,
        10 Dec 2015 14:59:29 -0500\",\n\t\t\"local_epoch\":\"1449777569\",\n\t\t\"local_tz_short\":\"EST\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Partly
        Cloudy\",\n\t\t\"temperature_string\":\"57.5 F (14.2 C)\",\n\t\t\"temp_f\":57.5,\n\t\t\"temp_c\":14.2,\n\t\t\"relative_humidity\":\"77%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"NNE\",\n\t\t\"wind_degrees\":12,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":\"2.0\",\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":\"3.2\",\n\t\t\"pressure_mb\":\"1014\",\n\t\t\"pressure_in\":\"29.94\",\n\t\t\"pressure_trend\":\"0\",\n\t\t\"dewpoint_string\":\"50
        F (10 C)\",\n\t\t\"dewpoint_f\":50,\n\t\t\"dewpoint_c\":10,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"57.5
        F (14.2 C)\",\n\t\t\"feelslike_f\":\"57.5\",\n\t\t\"feelslike_c\":\"14.2\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"--\",\n\t\t\"UV\":\"0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/MA/Dorchester.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KMAMILTO9\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=42.263294,-71.058578\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 10 Dec 2015 19:59:29 GMT
- request:
    method: get
    uri: http://api.nytimes.com/svc/topstories/v1/technology.json?api-key=6a41f1c129fe2f15e6369d4cd867f233:6:73728238
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-02.mashery.com
      X-Amz-Request-Id:
      - A4201866007BB15E
      Last-Modified:
      - Thu, 10 Dec 2015 19:55:18 GMT
      Etag:
      - '"87b819fa9c4c6a8569b226f8c1d6804f"'
      Content-Type:
      - text/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2015 The New York Times Company.
        All Rights Reserved.","section":"technology","last_updated":"2015-12-10T14:55:06-05:00","num_results":30,"results":[{"section":"Science","subsection":"","title":"An
        Advance in Artificial Intelligence Rivals Human Abilities","abstract":"An
        article in the journal Science reported a type of machine learning that outperformed
        human capabilities for a narrow range of vision-related tasks.","url":"http:\/\/www.nytimes.com\/2015\/12\/11\/science\/an-advance-in-artificial-intelligence-rivals-human-vision-abilities.html","byline":"By
        JOHN MARKOFF","item_type":"Article","updated_date":"2015-12-10T14:04:32-5:00","created_date":"2015-12-10T14:04:33-5:00","published_date":"2015-12-11T00:00:00-5:00","material_type_facet":"News","kicker":"","des_facet":["Artificial
        Intelligence"],"org_facet":["Massachusetts Institute of Technology","New York
        University","University of Toronto","Science (Journal)","Microsoft Corp"],"per_facet":"","geo_facet":"","multimedia":[{"url":"http:\/\/static01.nyt.com\/images\/2015\/12\/11\/business\/11vision-web1\/11vision-web1-thumbStandard.jpg","format":"Standard
        Thumbnail","height":75,"width":75,"type":"image","subtype":"photo","caption":"Humans
        and machines were given an image of a novel character (represented atop each
        grid) and then asked to copy it.","copyright":"Brenden Lake"},{"url":"http:\/\/static01.nyt.com\/images\/2015\/12\/11\/business\/11vision-web1\/11vision-web1-thumbLarge.jpg","format":"thumbLarge","height":150,"width":150,"type":"image","subtype":"photo","caption":"Humans
        and machines were given an image of a novel character (represented atop each
        grid) and then asked to copy it.",[...]
- request:
    method: get
    uri: http://api.seatgeek.com/2/events?venue.city=Boston
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cf3a2dc0c6dff5d83ab14c3aa8e2078b31d98c94"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":1285,"page":1,"geolocation":null},"events":[{"links":[],"id":2955699,"stats":{"listing_count":null,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Sara
        Evans","announce_date":"2015-12-05T00:00:00","score":0.53742,"date_tbd":false,"type":"concert","datetime_local":"2015-12-10T16:00:00","visible_until_utc":"2015-12-11T01:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":4},"name":"Sara
        Evans","short_name":"Sara Evans","url":"https://seatgeek.com/sara-evans-tickets","type":"band","image":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/sara-evans-6ef634/1586/huge.jpg","home_venue_id":null,"primary":true,"score":0.53337,"images":{"huge":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/sara-evans-6ef634/1586/huge.jpg"},"slug":"sara-evans","taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":1586,"genres":[{"slug":"country","primary":true,"name":"country"}]}],"url":"https://seatgeek.com/sara-evans-tickets/boston-massachusetts-boston-symphony-hall-2015-12-10-4-pm/concert/2955699/","created_at":"2015-12-05T00:00:00","venue":{"city":"Boston","name":"Boston
        Symphony Hall","extended_address":"Boston, MA 02115","url":"https://seatgeek.com/venues/boston-symphony-hall/tickets/","country":"US","display_location":"Boston,
        MA","links":[],"slug":"boston-symphony-hall","state":"MA","score":0.51845,"postal_code":"02115","location":{"lat":42.3429,"lon":-71.0857},"address":"301
        Massachusetts Avenue","timezone":"America/New_York","id":584},"short_title":"Sara
        Evans","datetime_utc":"2015-12-10T21:00:00","datetime_tbd":false},{"links":[],"id":2785134,"stats":{"listing_count":null,"average_price":null,"lowest_price_good_deals":null,"lowest_price":null,"highest_price":null},"title":"Boston
        Holiday Pops - Boston","announce_date":"2015-08-27T00:00:00","score":0.48216,"date_tbd":false,"type":"classical","datetime_local":"2015-12-10T16:00:00","visible_until_utc":"2015-12-11T01:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":3000000,"name":"theater"},{"parent_id":3000000,"id":3010000,"name":"clas[...]
[...]
- request:
    method: get
    uri: http://data.tmsapi.com/v1.1/movies/showings?api_key=yfddgktnyyxmn52ghbr93j8k&startDate=2015-12-10&zip=02124
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-03.mashery.com
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        W3sidG1zSWQiOiJNVjAwMDE[...]
